.photo-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.profile-photo {
  --border-radius: 50%;
  width: 50%;
  height: 150px;
}

.about-text-container {
  margin: 20px;
  text-align: justify;
  h2 {
      font-weight: bold;
    }

    p {
      font-size: 1.2rem;
    }
}
