<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list>

      <ion-item [class.invalid-input]="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <!-- Error message for username -->
      <div *ngIf="loginForm.get('username')?.touched">
        <small *ngIf="loginForm.get('username')?.errors?.['required']" style="color: red;">
          Username is required.
        </small>
        <small *ngIf="loginForm.get('username')?.errors?.['minlength']" style="color: red;">
          Username must be at least 5 characters long.
        </small>
      </div>

      <ion-item [class.invalid-input]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <!-- Error message for password -->
      <div *ngIf="loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.errors?.['required']" style="color: red;">
          Password is required.
        </small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']" style="color: red;">
          Password must be at least 5 characters long.
        </small>
      </div>

    </ion-list>
    <ion-button type="submit" expand="full" [disabled]="loginForm.invalid">Login</ion-button>
  </form>
</ion-content>
